{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="description" content="KTS test"/>
    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:site" content="@phamngocvances"/>
    <meta name="twitter:title" content="KTS test"/>
    <meta name="twitter:description" content="KTS test"/>
    <meta name="twitter:image" content="KTS test"/>

    <!-- Schema.org markup for Google+ -->
    <meta itemprop="name" content="KTS test">
    <meta itemprop="description" content="KTS test">
    <meta itemprop="image" content="KTS test">

    <!-- Open Graph data -->
    <meta property="og:title" content="KTS test"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="KTS test"/>
    <meta property="og:image" content="KTS test"/>
    <meta property="og:description" content="KTS test"/>
    <meta property="og:site_name" content="KTS test"/>
    <meta property="fb:admins" content="100000020906766"/>
    <meta property="fb:app_id" content="509086899486057">

    <title>KTS test</title>
    <link rel="shortcut icon" href="{% static "image/favicon.png" %}">
    <link href="{% static "css/app.bundle.1532815964811.css" %}" rel="stylesheet">
</head>
<body class="notranslate">
<div id="kts-app"></div>
<script type="text/javascript" src="{% static "js/app.min.1532815964811.js" %}"></script>
</body>
</html>
